header {
    background-color: #CEB02A;
    justify-content: space-between;
    display: flex;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a::before {
    content: "";
    display: inline-flex;
    background-color: #BA1F33;
    width: 10px;
    height: 10px;
    margin: 10px;
}

a {
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    margin-right: 30px;
    font-weight: 500;
    text-decoration: none;
    transition: transform 100ms linear;
}

.button:hover {
    transform: scale(1.1);
}

.button {
    display: inline-block;
    background-color: #BA1F33;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0px;
}

.banner {
    background-color: #3A4042;
    display: inline-block;
    text-align: center;
    width: 658px;
    height: 185px;
    position: absolute;
    margin-top: 116px;
    margin-left: 91px;
    box-shadow: 10px 10px 0px #000000;
}

h1 {
    display: flex;
    color: #CEB02A;
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    text-shadow: 4px 4px 0px #000000;
    text-align: center;
}

h2 {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    display: flex;
    text-align: center;
    text-shadow: 4px 4px 0px #000000;
    padding-left: 40px;
}

.buttonBanner {
    display: inline-flex;
    background-color: #BA1F33;
    box-shadow: 5px 5px 0px #000;
    justify-content: space-between;
    margin-top: 340px;
    margin-left: 300px;
    padding: 18px 20px;
}


/* .cv { 
    display: inline-block;
    background-color: #ba1f33;
    box-shadow: 5px 5px 0px #000;
    margin-top: 338px;
    margin-right: 1000px;
    padding: 17px 20px
}

.contatos {
    display: inline-block;
    background-color: #BA1F33;
    box-shadow: 5px 5px 0px #000;
    margin-right: 600px;
    padding: 17px 20px
}*/